@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
     url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: regular;
}

@font-face {
    font-family: "RobotoBlack";
    src: local("RobotoBlack"),
     url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
    font-weight: regular;
}

@font-face {
    font-family: "RobotoThin";
    src: local("RobotoThin"),
     url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: regular;
}