.clock-container {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: $FontHeaderThin;
    flex-wrap: wrap;

    .current-time {
        flex-grow: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 450%;
        text-align: center;
        line-height: 1.2;

        .date {
            font-size: 30%;
        }
    }

    .other-time {
        flex-grow: 3;
        text-align: center;

        .seperator {
            height: 1px;
            background-color: $white;
            margin: 0.5em 0;
        }
    }

    
}

.landscape .clock-container {
    flex-direction: column;

    .current-time {
        font-size: 600%;
    }
    
    .other-time {
        display: flex;
        flex-grow: 0;
        width: 100%;
        justify-content: center;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .seperator {
            display: inherit;
            height: 100%;
            width: 1px;
            margin: 0 2em;
        }
    }
}